*{
    border: 0;
   padding: 0;
}
header{
    height: 100px;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
ul{
    display: flex;
    list-style-type: none;
    align-items: center;


}